# Root level
.DS_Store

# orchestrator
services/orchestrator/node_modules/
services/orchestrator/package-lock.json

# memory-api
services/memory-api/chroma_data/
services/memory-api/venv/
services/memory-api/src/__pycache__/
