# Root level
.DS_Store

# orchestrator
services/orchestrator/node_modules/

# memory-api
services/memory-api/chroma_data/
services/memory-api/venv/
services/memory-api/src/__pycache__/

# app - cli
apps/cli/node_modules/